@{
    ViewBag.ActiveMenu = "首页"; //The menu item will be active for this page.
}
<style type="text/css">
    .small-box h3 {
        font-size:24px;
    font-family:'Microsoft YaHei';
    }
</style>
<section class="content-header">
    <h1>首页<small>首页</small></h1>
    @Html.BreadCrumb()
</section>